# dependencies
node_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next
/.next/
/out/
next-env.d.ts
*.tsbuildinfo

# test & tooling output
/coverage/
/report/

# env
.env
.env.local
.env.*.local

# misc
.DS_Store
.vercel
*.log
.claude
